<div ng-app="riskGame">
  <div ng-controller="gameController">

    <div class="game-panel {{isPlayersTurn()? 'my-turn' : ''}}">
      <div class="top-center">
        <div class="current-country">
          {{ currentCountry}}
        </div>
      </div>  

      <div class="middle-row">
        <div class="users-panel">
          <div class="center"><h3>Players</h3></div>
          <div ng-repeat="player in currentPlayers track by $index">
            <div class="players-box {{ player.label }}"><span class="player-name"> {{ player.name }} </span></div><br>
          </div>
        </div>

        <div class="board-panel">
          <%= render "board" %>
        </div>

        <div class="activity-panel">
          <div class="center"><h3>Activity</h3></div>
          <div id="message-pane">
            <div class="message" ng-repeat="message in messages track by $index">
              <span> {{ message }} </span><br>
            </div>
          </div>
        </div>
      </div>

      <div class="clear"></div>
      <div class="error-message">
        <div>
          {{game.error}}
        </div>  
      </div>
      <div class="clear"></div>

      <div class="action-panel" ng-switch="game.state">
        
        <!-- need players state -->
        <div ng-switch-when="0">
          <ul class="action-button-list">
              <a href="#join-modal">
              <li class="action-button {{ game.joined ? 'inactive' : 'active' }}">
                <span class="action-button-text">Join</span>
              </li>
              </a>
            </ul>  
        </div>

        <!-- attack state -->
        <div ng-switch-when="1" ng-show="isPlayersTurn()">
            <ul class="action-button-list">
              
              <li class="action-button">
                <div class="select-div">
                  <select class="number-selector"
                          ng-model="game.moveArmies"
                          ng-options="i as i for i in game.moveOptions">
                  </select>
                </div>
              </li>

              <li class="action-button {{ defendCountry != null && game.moveArmies ? 'active' : 'inactive' }}"
                ng-click="move()">
                <div class="action-button-text">
                  Move
                </div>
              </li>
              
              <li class="action-button {{ defendCountry != null ? 'active' : 'inactive' }}"
                  ng-click="attack()">
                <span class="action-button-text">Attack</span>
              </li>
              
              <li class="action-button active"
                  ng-click="noMove()">
                <span class="action-button-text">End Turn</span>
              </li>
            </ul>
        </div>

        <!-- initial place  -->
        <div ng-switch-when="2" ng-show="isPlayersTurn()">
          <ul class="action-button-list">
            <li class="action-button">
              <div class="select-div">
                <select class="number-selector"
                        ng-model="game.placeArmies"
                        ng-options="i as i for i in game.placeOptions">
                </select>
              </div>
            </li>

            <li class="action-button btn {{ attackCountry != null ? 'active' : 'inactive' }}"
                ng-click="place()">
                <span class="action-button-text">Place</span>
            </li>
          </ul>
        </div>        

        <!-- post attack move state -->
        <div ng-switch-when="3" ng-show="isPlayersTurn()">
          <ul class="action-button-list">
              <li class="action-button">
                <div class="select-div">
                  <select class="number-selector"
                          ng-model="game.moveArmies"
                          ng-options="i as i for i in game.moveOptions">
                  </select>
                </div>
              </li>

              <li class="action-button {{ defendCountry != null && game.moveArmies ? 'active' : 'inactive' }}"
                ng-click="move()">
                <span class="action-button-text">Move</span>
              </li>
          </ul>
        </div>

        <!-- place state -->
        <div ng-switch-when="5" ng-show="isPlayersTurn()">
          <ul class="action-button-list">

            <li class="action-button">
                <div class="select-div">
                  <select class="number-selector"
                          ng-model="game.placeArmies"
                          ng-options="i as i for i in game.placeOptions">
                  </select>
                </div>
              </li>
            
            <li class="action-button {{ attackCountry != null ? 'active' : 'inactive' }}"
                ng-click="place()">
                <span class="action-button-text">Place</span>
            </li>
          </ul>
        </div>

        <!-- game over state -->
        <div ng-switch-when="6">
          <ul class="action-button-list">
            
            <li class="action-button inactive">
                <span class="action-button-text">Game Over</span>
            </li>
          </ul>
        </div>
      </div>
       <div class="modalDialog" id="join-modal">
          <div class="modal-dialog">
            <div class="modal-header">
              Choose a username:
            </div>
            <div class="modal-body">
              <input type="text" ng-model="game.username"></div>
              <a href="#close" class="btn btn-primary" ng-click="join()">Join</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p style="clear: both;"></p>
  </div>
</div>
<script>
  window._GAMEID = <%= @game.id %>;
  window._USERID = '<%= @user %>';
</script>




