// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

text {
    stroke: white;
}

body {
    background-color: #2d130f;
}

svg {
    border-radius: 15px;
}

.country-circle {
    stroke-width: 2;
}

.unowned {
    fill: white;
    stoke: white;
}

.player1_owns {
    fill:   red;
}

.player2_owns {
    fill:  blue;
}

.player3_owns {
    fill: purple;
}

.player4_owns {
    fill: orange;
}

.player5_owns {
    fill: lightseagreen;
}

.player6_owns {
    fill: green;
}

.player7_owns {
    fill: gray;
}

.player8_owns {
    fill: black;
}

.north-america {
    fill: #cde0ee;
    stroke: black;
}

.south-america {
    fill: #9ddea8;
    stroke: black;
}

.europe {
    fill: #d48f7e;
    stroke: black;
}

.africa {
    fill: #c6d98d;
    stroke: black;
}

.asia {
    fill: #a78cd9;
    stroke: black;
}

.australia {
    fill: #c9925d;
    stroke: black;
}

.my-turn .attack-country {
    fill: #1f2f2f;
    stroke: black;
}

.my-turn .defend-country {
    fill: #a3a3a3;
    stroke: black;
}

.middle-row {
    background-color: #dfe3f4;
}

.game-panel {
    width: 1285px;
    margin-left: auto;
    margin-right: auto;
    color: #C0C0C0;
}

.center {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.top-center {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.board-panel {
    margin-left: 15px;
    width: auto;
    display: inline-block;
    float: left;
}

.users-panel {
    display: inline-block;
    float: left;
    padding: 10px;
    width: 200px;
    height: 500px;
    border: 2px solid #2c1510;
    border-radius: 20px;
    background: black;
}

.players-box {
    margin: 5px;
    padding: 5px 3px 5px 3px;
    border-radius: 2px;
    font-size: 1.2em;
}

.activity-panel {
    margin-left: 15px;
    padding: 10px;
    display: inline-block;
    float: left;
    width: 200px;
    height: 500px;
    border: 2px solid #2c1510;
    border-radius: 20px;
    overflow: scroll;
    background: black;
}

#message-pane:first-child {
    color: #ebe7c2;
}

.activity-panel li {
    list-style: none;
}

.message {
    margin: 15px 3px 0px 3px;
}

.action-panel {
    width: 100%;
    background-color: black;
    border: 2px solid #2c1510;
    border-radius: 20px;
    height: 110px;
}

.clear {
    clear: both;
}

.action-button-list {
    display: block;
    padding-left: 20%;
    margin-left: auto;
    margin-right: auto;
}

.action-button {
    list-style: none;
    border-radius: 5px;
    display: inline-block;
    float: left;
    margin: 0px 20px 10px 20px;
    height: 80px;
}

.active {
    background-color: #1a4f27;
}

.inactive {
    background-color: #55341c;
}

.action-button-text {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    top: 25%;
    font-size: 2em;
}

.dropdown-button-text {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
    top: 15%;
    font-size: 2em;
}

.top-row {
    width: 100%;
    height: 50px;
}

.players-box {
    display: inline-block;
    color: white;
}

.player1 {
    background-color: red;
}

.player2 {
    background-color: blue;
}

.player3 {
    background-color: purple;
}

.player4 {
    background-color: orange;
}

.player5 {
    background-color: lightseagreen;
}

.player6 {
    background-color: green;
}

.player7 {
    background-color: gray;
}

.player8 {
    background-color: black;
}

.current-country {
    color: #C0C0C0;
    font-size: 1.2em;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.error-message{
    color: red;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    height: 30px;
}

.dropdown {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
}

.number-selector {
    width: 80px;
}

.select-div {
    display: inline-block;
    float: left;
}

.styled-select {
    background: transparent;
    width: 268px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
}
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}
.join-game-prompt {
    color: white;
}
.game-index {
    width: 100%;
}
.join-game-button {
    display: inline-block;
    background-color: #1f5c5e;
    color: white;
    width: 100%;
    margin-bottom: 10px;
}
.open-game {
    display: inline-block;
    background-color: darkgray;
    margin: 10px;
    padding: 7px;
    border-radius: 5px;
}
.player {
    display: inline-block;
    background-color: #615e20;
    color: white;
    margin-bottom: 5px;
    text-align: center;
    font-size: 0.9em;
}
.players {
    margin: auto;
}
.new-game {
    margin: auto;
    margin-left: 20%;
}
.new-game-index, start-game-index {
    margin-left: 10px;
}