// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

text {
    stroke: white;
}

.country-circle {
    stroke-width: 2;
}

.unowned {
    fill: white;
    stoke: white;
}

.player1_owns {
    fill:   red;
}

.player2_owns {
    fill:  blue;
}

.player3_owns {
    fill: purple;
}

.player4_owns {
    fill: orange;
}

.player5_owns {
    fill: lightseagreen;
}

.player6_owns {
    fill: green;
}

.player7_owns {
    fill: gray;
}

.player8_owns {
    stroke: black;
}

.north-america {
    fill: #cde0ee;
    stroke: black;
}

.south-america {
    fill: #9ddea8;
    stroke: black;
}

.europe {
    fill: #ddab9a;
    stroke: black;
}

.africa {
    fill: #c6d98d;
    stroke: black;
}

.asia {
    fill: #a78cd9;
    stroke: black;
}

.australia {
    fill: #d7879f;
    stroke: black;
}

.middle-row {
    background-color: #dfe3f4;
}

.board-panel {
    margin: auto;
    margin-left: 15px;
    width: auto;
    display: inline-block;
    float: left;
}

.users-panel {
    display: inline-block;
    float: left;
    padding: 10px;
    width: 200px;
    height: 480px;
    border: 2px solid brown;
}

.activity-panel {
    margin-left: 15px;
    padding: 10px;
    display: inline-block;
    float: left;
    width: 200px;
    height: 480px;
    border: 2px solid brown;
    overflow: scroll;
}

.activity-panel li {
    list-style: none;
}

.action-panel {
    width: 100%;
    background-color: gray;
    height: 100px;
}

.clear {
    clear: both;
}

.action-button-list {
    margin-left: 30%;
}

.action-button {
    color: white;
    list-style: none;
    display: inline-block;
    float: left;
    margin: 10px 10px 10px 10px;
    padding-left: 5px;
    padding-right: 5px;
    height: 80px;
}

.active {
    background-color: blue;
}

.inactive {
    background-color: darkgray;
}

.action-button-text {
    position: relative;
    top: 30%;
    font-size: 2em;
}

.top-row {
    width: 100%;
    height: 50px;
}